/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2017, 4:30:10 PM
    Author     : bagouc
*/


#customers {
    border-collapse: collapse;
    width: 30%;
    margin-left: 20px;
}

#customers td{
    border: 2px solid white;
    padding: 4px;
}

#customers tr:nth-child(even){background-color: transparent;
}

#customers th {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    background-color: transparent;
    color: white;
}

#total{
    margin-left: 450px;
}

#actualiser{
    margin-left: 500px;
}
